/*Paramètres généraux*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #cecece;
}

/*Paramètres page de login*/
#PageLogin{
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 5% auto;
    padding: 0 2rem;
    font-size: 3rem;
    border: outset 3px;
    border-radius: 1.2rem;
}
#containerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.inputLogin{
    height: 2.5rem;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 0.5rem;
}
.boutonValider{
    height: 2.5rem;
    width: 100%;
    margin-top: 5%;
    border-radius: 0.5rem;
}
.boutonValider:hover{
    cursor: pointer;
    background: #cecece;
    opacity: 1;
    transition: 0.5s;
}
.erreurLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #ee1010;
}

/*Paramètres page d'acceuil*/
#pageAccueil{
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 5% auto;
    padding: 0 2rem;
    font-size: 3rem;
    border: outset 3px;
    border-radius: 1.2rem;
}
#containerEtat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.listeChoix{
    height: 2.5rem;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 0.5rem;
}